
/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.cal-heading #result {
    font-family: 'Rampart One', cursive;
    margin: auto;
    width: 310px;
   
}
.btn {
    margin: 2px 2px;
    padding: 5px 0;
    width: 74px;
    
}

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width:991.98px) {
     
 }

/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

 }